html {
  margin: 0;
  padding: 0;
  top: 20px;
}


  /* color: #61dafb;  light blue*/

/* Jumbo home */
.jumbo {
  text-align: center;
}



/* Router Component */

.navStyle {
  background: #282c34;
  height: 20vh;
  width: 100vw;
  padding: 5px; 
  padding-top: 20px;
}

.navStyle h4 .link {
  text-decoration: none;
  color: white;

}

/* .link:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
} */

.link {
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: whitesmoke;
 
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-filter: blur(0);
          filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  margin-bottom: 3rem; 
}
.link span {
  font-size: 25px;
  margin: 0;
  padding: 0;
  display: inline-block;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  padding: 0 0.1em;
}
.link span:nth-child(0n) {
  transition-delay: 0ms;
}
.link span:nth-child(0n):after {
  transition-delay: 0ms;
}
.link span:nth-child(1n) {
  transition-delay: 83.3333333333ms;
}
.link span:nth-child(1n):after {
  transition-delay: 83.3333333333ms;
}
.link span:nth-child(2n) {
  transition-delay: 166.6666666667ms;
}
.link span:nth-child(2n):after {
  transition-delay: 166.6666666667ms;
}
.link span:nth-child(3n) {
  transition-delay: 250ms;
}
.link span:nth-child(3n):after {
  transition-delay: 250ms;
}
.link span:after {
  content: '';
  position: absolute;
  top: 110%;
  left: -1%;
  width: 102%;
  height: .8em;
  background: rgba(360,360,360,.4);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scaley(0.1);
          transform: scaley(0.1);
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
}
.link:hover span {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
          color: white;
}
.link:hover span:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.link:active span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}
.link:active span:after {
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}


/* Budget Component */

.budgetLayout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.expensesTable, .incomeTable {
  flex-basis: 400px;
}

.incomeTable {
  align-self: flex-start
}

.budgetInputs {
  width: 3.7rem;
}


/* Cashflow Component */

.cashflowStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

/* Info Component */

.info {
  align-self: flex-start;
  flex-basis: 550px;
}

td img {
  width: 1.5rem;
  height: 1.5rem;
}

/* total */

.total {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  flex-basis: 150px;
  margin-top: 1rem;
}


/* ToggleEandP Component */

.toggleButtons {
  margin-bottom: 1.5rem;
}

.toggleInputs {
  display: flex;
  flex-direction: column;
}

/* Expenses and PayCheck Component */

.input {
  border-radius: 15px;
  flex-basis: 100px;
  
}

.input input {
  padding: 10px;
  margin-right: 10px;
}

.expenseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.category h6 {
  
  margin-right: 1rem;
}

/* Footer Component */

footer {
  background: #282c34;
  width:100vw;
  height:16vh;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  top: 4.5rem; 
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  background-color: rgba(0,0,0,0.2);
  width: 100vw;
  height: 150vh;
}

#overlay h1 {
  padding: 350px;
}


/* fix @media */
@media only screen and (max-width: 600px) {
  .info {
    width: 250px;
    align-self: center;
  }

}

@media only screen and (max-width: 700px) {
  .cashflowStyle {
    flex-direction: column;
  }

  .toggleInputs {
    margin-bottom: 1.5rem;
  }

  .info {
    width: 400px;
    align-self: center;
  }
}

@media only screen and (max-width: 1000px) {
  .toggleButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 100px;
  }

  .cardFlex {
    flex-direction: column;
  }

}

@media only screen and (max-width: 950px) {


  .link span {
    font-size: 15px;
  }
}



